svg{
  position: relative;
  width:1000px;
  height:1000px;
}

.bar{
  position:absolute; 
  left:0px; 
  top: 0px;
}

.bar1{
  fill:#acb0be; 
  stroke-width:5; 
  stroke-dasharray: 300%; 
  stroke-dashoffset: 300%; 
  background-color: #242b49; 
  border: 5px solid #242b49; 
  z-index: 10; 
  left: 20px; 
  top: 20px;
}

.bar2{
  fill:#d0506c; 
  stroke-width:5; 
  stroke-dasharray: 300%; 
  stroke-dashoffset: 300%; 
  background-color: #242b49; 
  border: 5px solid #242b49; 
  z-index: 8; 
  margin-left:20px;
  margin-top:20px;
  left: 20px; 
  top: 20px;
}